* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Lexend, sans-serif !important;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9); /* Start slightly smaller and transparent */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Scale to normal size and full opacity */
  }
}

@keyframes scaleInCheckmark {
  from {
    opacity: 0;
    transform: scale(0.5); /* Start smaller and transparent */
  }
  to {
    opacity: 1;
    transform: scale(1); /* Scale to normal size and full opacity */
  }
}
/* Make sure MUI components use Lexend */
.MuiTypography-root,
.MuiButton-root,
.MuiInputBase-root,
.MuiMenuItem-root,
.MuiListItemText-root,
.MuiChip-root,
.MuiAlert-root {
  font-family: Lexend, sans-serif !important;
}

body, #root {
  padding-top: calc(env(safe-area-inset-top) + 26px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  padding-top: calc(env(safe-area-inset-top) + 25px);
  text-decoration: none;
  color: inherit;
  font-family: Lexend, sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
} 